@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #023E73;
    --secondary-color: #61788C;
    --accent-color: #D7D9D9;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #D7D9D9;
    --nav-link-color: #023E73;
    --nav-hover-link-color: #61788C;
    --nav-hover-background-color: #D7D9D9;
}

body {
  font-family: var(--paragraph-font);
  max-width: 1000px;
  padding: 10px;   
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #023E73;
}

nav {
  margin-left: 90px;
  margin-right: 20px;
}

nav a {
  margin: 0 10px;
  color: #D7D9D9;
  text-decoration: none;
  padding: 1rem;
  font-size: larger;
}

nav a:link,
nav a:visited {
  color: #D7D9D9;
}

nav a:hover {
  color: #000;
  text-decoration: underline;
}

.logo {
  margin-right: 10px;
}

p {
  padding: 25px;
}

/* Remove underlines from social media links */
.social-media-icons a {
  text-decoration: none;
}

/* Limit page width */
body {
  max-width: 1200px;
  margin: 0 auto;
}  

.hero {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.hero .content {
  display: flex;
}

.hero .content p {
  flex: 1 1 70%;
  margin-right: 20px;
}

.hero .content .hero-img {
  flex: 0 0 30%;
  max-width: 100%;
}

.hero article {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.8;
  padding: 20px;
}
  
.hero article img {
  float: right;
  margin-left: 20px;
}

.hero-img {
  width: auto;
  height: 250px;
}
  
.client-img {
  width: 200px;
  height: auto;
}
  
section img {
  width: 150px;
  height: auto;
  margin: 10px;
}



.image-section {
  background-color:#023E73;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  color: #D7D9D9;
}
  
.image-section .title {
  font-size: 24px;
  margin-bottom: 10px;
  color:#D7D9D9;
}
  
.image-section .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
  
.image-section .content > div {
  flex: 1 1 auto;
  max-width: 30%;
  padding: 0 15px;
}
  
.image-section .content p {
  font-size: 16px;
}
  
.image-section .center-content img {
  width: auto;
  height: 250px;
  max-width: 500px; 
  display: block;
  margin: 0 auto;
}
  
.image-gallery {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.image-gallery .adventure {
  margin-bottom: 20px;
}

.image-gallery .title {
  font-size: 24px;
}

.image-gallery .image-container {
  display: flex;
  justify-content: center;
  gap: 15px; 
  flex-wrap: wrap;
}

.image-gallery .image-container img {
  max-width: 100%;
  height: auto;
  width: 200px; 
}
  
.social-media-icons img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

footer {
  background-color: #023E73;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: #D7D9D9;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

footer .social-media-icons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

footer .social-media-icons img {
  width: 30px;
  height: 30px;
}