@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #023E73;
    --secondary-color: #61788C;
    --accent-color: #D7D9D9;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #D7D9D9;
    --nav-link-color: #023E73;
    --nav-hover-link-color: #61788C;
    --nav-hover-background-color: #61788C;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;   
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent-color);
}

p {
    padding: 25px;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
