@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-color: #023E73;
  --secondary-color: #61788C;
  --accent-color: #D7D9D9;
  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;
  --nav-background-color: #D7D9D9;
  --nav-link-color: #023E73;
  --nav-hover-link-color: #61788C;
  --nav-hover-background-color: #D7D9D9;
}

body {
  font-family: var(--paragraph-font);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #023E73;
  width: 100%;
  margin-bottom: -50px;
  margin-top: 0;
}

nav {
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  margin: 0 20px;
  color: #D7D9D9;
  text-decoration: none;
  padding: 1rem;
  font-size: larger;
}

nav button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 100px;
}

nav a:link,
nav a:visited {
  color: var(--accent-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  text-decoration: underline;
}

.logo {
  margin-right: 10px;
}

p {
  padding: 25px;
}  

.trip {
  padding: 70px;
  text-align: center;
}

.trip .title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.trip .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

img {
    max-width: 100%;
    height: auto;
  }

.trip button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: var(--primary-color);
  color: var(--accent-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 50px;
}

h2{
    text-align: center;
    margin-top: 70px;
    font-size: x-large; 
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 50px auto;
  padding: 70px;
  text-align: center;
}

table th,
table td {
  border: 1px solid var(--accent-color);
  padding: 8px;
  text-align: center;
  color: var(--primary-color);
  font-size: larger;
}

.wireframe {
    text-align: center;
    padding: 50px;
    font-size: 20px;
}

footer {
  background-color: #023E73;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: #D7D9D9;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

footer .social-media-icons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

footer .social-media-icons img {
  width: 30px;
  height: 30px;
}
